# Books Recommendation System Using Collaborative Filtering

In [56]:
# Importing Libraries
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [57]:
books = pd.read_csv(r"C:\Users\success\Downloads/internship\Artificial Inteligence\Books Database\data\Books.csv", low_memory=False)

In [58]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [59]:
books.shape

(271360, 8)

In [60]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [61]:
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L']]

In [62]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [63]:
books.rename(columns={
    "Book-Author":"Author",
    "Year-Of-Publication":"Year",
    "Image-URL-L":"URL"},inplace=True)

In [64]:
books.head(2)

,ISBN,Book-Title,Author,Year,Publisher,URL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [65]:
users= pd.read_csv(r"C:\Users\success\Downloads/internship\Artificial Inteligence\Books Database\data\Users.csv", low_memory=False)

In [66]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [67]:
users.shape

(278858, 3)

In [68]:
ratings= pd.read_csv(r"C:\Users\success\Downloads/internship\Artificial Inteligence\Books Database\data\Ratings.csv", low_memory=False)

In [69]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [70]:
ratings.shape

(1149780, 3)

In [71]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 6)
(278858, 3)
(1149780, 3)

In [72]:
ratings.rename(columns=
               {'Book-Rating':'Rating'},inplace=True)

In [73]:
ratings.head(5)

   User-ID        ISBN  Rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [87]:
ratings['User-ID'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: User-ID, Length: 105283, dtype: int64

In [88]:
ratings['User-ID'].unique().shape

(105283,)

In [89]:
x = ratings['User-ID'].value_counts() > 100

In [90]:
[x]

[11676      True
 198711     True
 153662     True
 98391      True
 35859      True
           ...
 116180    False
 116166    False
 116154    False
 116137    False
 276723    False
 Name: User-ID, Length: 105283, dtype: bool]

In [91]:
x[x].shape

(1825,)

In [92]:
y= x[x].index

In [93]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            238186,  99441, 187410, 262070,  70183,  40553,  39345, 266283,
            189666, 140879],
           dtype='int64', length=1825)

In [94]:
ratings = ratings[ratings['User-ID'].isin(y)]

In [95]:
ratings.head()

     User-ID        ISBN  Rating
412   276925  0006511929       0
413   276925  002542730X      10
414   276925  0060520507       0
415   276925  0060930934       0
416   276925  0060951303       0

In [96]:
ratings.shape

(656605, 3)

In [97]:
books.head()

,ISBN,Book-Title,Author,Year,Publisher,URL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [98]:
ratings_books = ratings.merge(books, on='ISBN')

In [99]:
ratings_books.head()

,User-ID,ISBN,Rating,Book-Title,Author,Year,Publisher,URL
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [100]:
ratings_books.shape

(604854, 8)

In [103]:
number_rating = ratings_books.groupby('Book-Title')['Rating'].count().reset_index()

In [104]:
number_rating.head()

                                          Book-Title  Rating
0   A Light in the Storm: The Civil War Diary of ...       3
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [114]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [115]:
number_rating.head()

                                          Book-Title  Rating
0   A Light in the Storm: The Civil War Diary of ...       3
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [116]:
final_rating = ratings_books.merge(number_rating, on='Book-Title')

In [117]:
final_rating.head(3)

,User-ID,ISBN,Rating_x,Book-Title,Author,Year,Publisher,URL,Rating_y
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [118]:
final_rating.shape

(604854, 9)

In [120]:
final_rating = final_rating[final_rating['Rating_y'] >= 20]

In [121]:
final_rating.head()

,User-ID,ISBN,Rating_x,Book-Title,Author,Year,Publisher,URL,Rating_y
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [122]:
final_rating.shape

(190600, 9)

In [124]:
final_rating.drop_duplicates(['User-ID','Book-Title'],inplace=True)

In [125]:
final_rating.shape

(187049, 9)

In [126]:
book_pivot = final_rating.pivot_table(columns='User-ID', index='Book-Title', values= 'Rating_y')

In [127]:
book_pivot

User-ID,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10 Lb. Penalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0
16 Lighthouse Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN
1984,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stardust,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
book_pivot.shape

(4140, 1807)

In [129]:
book_pivot.fillna(0,inplace=True)

In [130]:
book_pivot

User-ID,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians,0.0,0.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,0.0
1984,0.0,108.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,132.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stardust,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [131]:
from scipy.sparse import csr_matrix

In [132]:
book_sparse = csr_matrix(book_pivot)

In [133]:
book_sparse

<4140x1807 sparse matrix of type '<class 'numpy.float64'>'
	with 187049 stored elements in Compressed Sparse Row format>

In [134]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [135]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [136]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6 )

In [137]:
distance

array([[  0.        , 126.32497774, 129.91535706, 129.91535706,
        129.91535706, 131.90147838]])

In [138]:
suggestion

array([[ 237, 3728, 3441, 3376, 3782, 2757]], dtype=int64)

In [139]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Ancient Evenings', 'The Visitant (The Anasazi Mysteries, Book 1)',
       'The Murders of Richard III', 'The Lords of Discipline',
       'Thief of Time', 'Stonehenge'],
      dtype='object', name='Book-Title')

In [140]:
book_pivot.index[3]

'16 Lighthouse Road'

In [141]:
book_names = book_pivot.index

In [144]:
import pickle
pickle.dump(model,open('Books Artifacts/model.pkl','wb'))
pickle.dump(book_names,open('Books Artifacts/book_names.pkl','wb'))
pickle.dump(final_rating,open('Books Artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('Books Artifacts/book_pivot.pkl','wb'))

# Testing Of Our Recommendation System

In [157]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("You May Also Like: \n")
                else:
                    print(j)

In [164]:
book_name = 'The Murders of Richard III'#you can search Books inside ""
recommend_book(book_name)

You searched 'The Murders of Richard III'

You May Also Like:

Stonehenge
Navy Blues
Warrior's Song (Coulter, Catherine. Medieval Song Quartet, 4.)
Auntie Mayhem (Bed-And-Breakfast Mysteries (Paperback))
Daisy's Back in Town

# Thank You